/* Global variables and settings */

:root {
    --color-theme-violet: #7c0835;
    --color-theme-red: #d4022a;
    --color-theme-blue: #68bdfe;
    --color-theme-light-blue: #deebf6;
    --color-theme-white: #fffbf4;
    --color-theme-dark: #002047;
    --color-theme-green: #02d409;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

/* Game-board styles */

html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--color-theme-dark);
}

body {
    width: 60%;
    min-width: 400px;
    max-width: 600px;
    height: 80%;
    min-height: 400px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: var(--color-theme-blue);
}

body h1 {
    width: 100%;
    align-self: flex-start;
    padding: 1rem;
    background-color: var(--color-theme-violet);
    color: var(--color-theme-white);
    font-weight: 900;
    /* font-size: 24px; */
}

body h2 {
    width: 100%;
    height: 10%;
    align-self: flex-start;
    padding: 1rem;
    /* background-color: var(--color-theme-blue); */
    font-weight: 800;
    /* font-size: 20px; */
}

body p {
    width: 100%;
    align-self: flex-end;
    padding: 1rem;
    background-color: var(--color-theme-violet);
    color: var(--color-theme-white);
    font-weight: 400;
}

.left-sub-container,
.right-sub-container {
    width: 50%;
    height: 50%;
    background-color: var(--color-theme-light-blue);
}

.img-container {
    width: 100%;
    border: 1px solid var(--color-theme-violet);
}

.border-win {
    border: 1px solid var(--color-theme-green);
    box-shadow: 0 0 10px var(--color-theme-green);
}
.border-loss {
    border: 1px solid var(--color-theme-red);
    box-shadow: 0 0 10px var(--color-theme-red);
}

.img-rps {
    background: url(media/rps.png);
}
.img-rock {
    background: url(media/rock.png);
}
.img-paper {
    background: url(media/paper.png);
}
.img-scissors {
    background: url(media/scissors.png);
}
.img-pc {
    background: url(media/pc.png);
}
.img-user-win {
    background: url(media/user-win.png);
}
.img-pc-win {
    background: url(media/pc-win.png);
}
.img-user-loss {
    background: url(media/user-loss.png);
}
.img-pc-loss {
    background: url(media/pc-loss.png);
}

.img-rock,
.img-paper,
.img-scissors,
.img-rps,
.img-pc,
.img-user-loss,
.img-user-win,
.img-pc-loss,
.img-pc-win {
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-weapon {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
}

button {
    width: 20%;
    max-width: 400px;
    height: 10%;
    border: 2px solid var(--color-theme-violet);
    font-size: 26px;
    font-weight: 800;
    background-color: var(--color-theme-light-blue);
}

button:hover {
    color: var(--color-theme-white);
    cursor: pointer;
}

#rock-button:hover,
#paper-button:hover,
#scissors-button:hover {
    background-color: var(--color-theme-violet);
}

#restart-button:hover {
    background-color: var(--color-theme-red);
}

#score {
    font-size: 22px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: var(--color-theme-white);
}